<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Event Era</title>
    <link rel="shortcut icon" href="assets/images/favicon.png">

    <!-- fraimwork - css include -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <!-- icon css include -->
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="assets/css/flaticon.css">

    <!-- carousel css include -->
    <link rel="stylesheet" type="text/css" href="assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/owl.theme.default.min.css">

    <!-- others css include -->
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/calendar.css">

    <!-- color switcher css include -->
    <link rel="stylesheet" type="text/css" href="assets/css/colors/style-switcher.css">
    <link id="color_theme" rel="stylesheet" type="text/css" href="assets/css/colors/default.css">

    <!-- custom css include -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <style>
        @media screen and (min-width:0px) and (max-width:980px) {
            #slide-section {
                margin-top: -5px !important;
            }

            .breadcrumb-section {
                margin-top: -5px !important;
            }
        }

        .breadcrumb-section {
            margin-top: 100px;
        }
    </style>

</head>


<body>


    <!-- backtotop - start -->
    <div id="thetop" class="thetop"></div>
    <div class='backtotop'>
        <a href="#thetop" class='scroll'>
            <i class="fas fa-angle-double-up"></i>
        </a>
    </div>
    <!-- backtotop - end -->

    <!-- preloader - start -->
    <div id="preloader"></div>
    <!-- preloader - end -->


    <!-- header-section - start
		================================================== -->
    <header id="header-section" class="header-section default-header-section auto-hide-header clearfix">

        <!-- header-top - start -->
        <div class="header-top">
            <div class="container">
                <div class="row">

                    <!-- basic-contact - start -->
                    <div class="col-lg-6">
                        <div class="basic-contact">
                            <ul>
                                <li>
                                    <a href="contact.html">
                                        <i class="fas fa-envelope"></i>
                                        info@eventEra.com
                                    </a>
                                </li>
                                <li>
                                    <a href="#!">
                                        <i class="fas fa-phone"></i>
                                        100-2222-9999
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- basic-contact - end -->

                    <!-- register-login-group - start -->
                   
                    <!-- register-login-group - end -->

                </div>
            </div>
        </div>
        <!-- header-top - end -->

        <!-- header-bottom - start -->
        <div class="header-bottom" style="padding: 18px 0px;" >
            <div class="container">
                <div class="row">

                    <!-- site-logo-wrapper - start -->
                    <div class="col-lg-3">
                        <div class="site-logo-wrapper">
                            <a href="/" class="logo">
                                <img src="/assets/images/LOGO.png" style="height: 66px;"  alt="logo_not_found">
                            </a>
                        </div>
                    </div>
                    <!-- site-logo-wrapper - end -->

                    <!-- mainmenu-wrapper - start -->
                    <div class="col-lg-9">
                        <div class="mainmenu-wrapper">
                            <div class="row">

                                <!-- menu-item-list - start -->
                                <div class="col-lg-10">
                                    <div class="menu-item-list ul-li clearfix">
                                        <ul>
                                            <li>
                                                <a href="/">
                                                    </span>
                                                    Home
                                                </a>
                                            </li>
                                            <li>
                                                <a href="venue/searchByCity">
                                                  
                                                    book event
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/about"> About Us</a>
                                                   
                                                   
                                                
                                            </li>
                                            <li>
                                                <a href="/contact">
                                                    
                                                    contact us
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- menu-item-list - end -->

                                <!-- menu-item-list - start -->
                                <div class="col-lg-2">
                                    <div class="user-search-btn-group ul-li clearfix">
                                        <ul>
                                            <li>
                                                <a href="login.html">
                                                    <i class="fas fa-user"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <button type="button" class="toggle-overlay search-btn">
                                                    <i class="fas fa-search"></i>
                                                </button>
                                                <!-- search-body - start -->
                                                <div class="search-body">
                                                    <div class="search-form">
                                                        <form action="#">
                                                            <input class="search-input" type="search"
                                                                placeholder="Search Here">
                                                            <div class="outer-close toggle-overlay">
                                                                <button type="button" class="search-close">
                                                                    <i class="fas fa-times"></i>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <!-- search-body - end -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- menu-item-list - end -->

                            </div>
                        </div>
                    </div>
                    <!-- mainmenu-wrapper - end -->

                </div>
            </div>
        </div>
        <!-- header-bottom - end -->

    </header>
    <!-- header-section - end
		================================================== -->



    <!-- altranative-header - start
		================================================== -->
    <div class="header-altranative">
        <div class="container">
            <div class="logo-area float-left">
                <a href="/">
                    <img src="assets/images/LOGO.png" alt="logo_not_found">
                </a>
            </div>

            <button type="button" id="sidebarCollapse" class="alt-menu-btn float-right">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- sidebar menu - start -->
        <div class="sidebar-menu-wrapper">
            <div id="sidebar" class="sidebar">
                <span id="sidebar-dismiss" class="sidebar-dismiss">
                    <i class="fas fa-arrow-left"></i>
                </span>

                <div class="sidebar-header">
                    <a href="/">
                        <img src="assets/images/2.site-logo.png" alt="logo_not_found">
                    </a>
                </div>

                <!-- sidebar-form - start -->
                <div class="sidebar-form">
                    <form action="#">
                        <input id="altmenu-sidebar-search" type="search" placeholder="Search">
                        <label for="altmenu-sidebar-search"><i class="fas fa-search"></i></label>
                    </form>
                </div>
                <!-- sidebar-form - end -->

                <!-- Navigation For Mobile - start -->
                <div class="menu-link-list other-pages-links">

                    <ul>
                        <li>
                            <a href="/">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/venue/searchByCity">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                book event
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                <span class="icon"><i class="fas fa-home"></i></span>
                                contact us
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- login-btn-group - start -->
                <!-- login-btn-group - end -->

                <!-- social-links - start -->
                <div class="social-links mt-5">
                    <h2 class="menu-title">get in touch</h2>
                    <div class="mb-15">
                        <h3 class="contact-info">
                            <i class="fas fa-phone"></i>
                            100-2222-9999
                        </h3>
                        <h3 class="contact-info">
                            <i class="fas fa-envelope"></i>
                            info@eventera.com
                        </h3>
                    </div>
                    <ul>
                        <li>
                            <a href="#!"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-twitch"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                        <li>
                            <a href="#!"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                    <a href="/contact" class="contact-btn my-3">contact us</a>
                </div>
                <!-- social-links - end -->

                <div class="overlay"></div>
            </div>
        </div>
        <!-- sidebar menu - end -->
    </div>
    <!-- altranative-header - end
		================================================== -->

    <!-- breadcrumb-section - start ================================================== -->
    <section id="breadcrumb-section" class="breadcrumb-section clearfix">
        <div class="jarallax" style="background-image: url(assets/images/breadcrumb/0.breadcrumb-bg.jpg);">
            <div class="overlay-black">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">

                            <!-- breadcrumb-title - start -->
                            <div class="breadcrumb-title text-center mb-50">
                                <span class="sub-title">all you need to know</span>
                                <h2 class="big-title">about <strong> Event Era</strong></h2>
                            </div>
                            <!-- breadcrumb-title - end -->

                            <!-- breadcrumb-list - start -->
                            <div class="breadcrumb-list">
                                <ul>
                                    <li class="breadcrumb-item"><a href="index-1.html" class="breadcrumb-link">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">about us</li>
                                </ul>
                            </div>
                            <!-- breadcrumb-list - end -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb-section - end ================================================== -->





    <!-- our-management-section - start ================================================== -->
    <section id="our-management-section" class="our-management-section bg-gray-light sec-ptb-100 clearfix">
        <div class="container">
            <div class="row">

                <!-- section-title - start -->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="section-title text-left mb-50 sr-fade1">
                        <small class="sub-title">we are Event Era</small>
                        <h2 class="big-title"><strong>No.1</strong> Events Management</h2>
                        <a href="#!" class="custom-btn">
                            get started!
                        </a>
                    </div>
                </div>
                <!-- section-title - end -->

                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="row">

                        <!-- management-item - start -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="management-item sr-fade2">
                                <div class="item-title">
                                    <h3 class="title-text">
                                        our mission
                                    </h3>
                                </div>
                                <p class="black-color mb-30">
                                    Lorem ipsum dollor site amet the best consectuer adipiscing elites sed diam nonummy
                                    nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the
                                    consectuer
                                    adipiscing elit.
                                </p>
                                <p class="black-color m-0">
                                    <strong>
                                        <i>
                                            Lorem ipsum dollor site amet the best consectuer adipiscing elites sed diam
                                            nonummy nibh euismod.
                                        </i>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <!-- management-item - end -->

                        <!-- management-item - start -->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="management-item sr-fade3">
                                <div class="item-title">
                                    <h3 class="title-text">
                                        our vission
                                    </h3>
                                </div>
                                <p class="black-color mb-30">
                                    Lorem ipsum dollor site amet the best consectuer adipiscing elites sed diam nonummy
                                    nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat insignia the
                                    consectuer
                                    adipiscing elit.
                                </p>
                                <p class="black-color m-0">
                                    <strong>
                                        <i>
                                            Lorem ipsum dollor site amet the best consectuer adipiscing elites sed diam
                                            nonummy nibh euismod.
                                        </i>
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <!-- management-item - end -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- our-management-section - end
		================================================== -->

    <!-- service-section - start
		================================================== -->
    <section id="service-section" class="service-section sec-ptb-100 bg-gray-light clearfix">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title mb-50 sr-fade1">
                        <span class="line-style"></span>
                        <small class="sub-title">why choose us</small>
                        <h2 class="big-title">Event Era <strong>Advantages</strong></h2>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="team-btn text-right sr-fade2">
                        <a href="#!" class="custom-btn">meet the team</a>
                    </div>
                </div>
            </div>

            <div class="service-wrapper sr-fade1">
                <ul>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-handshake"></i>
                            </span>
                            <strong class="service-title">friendly team</strong>
                            <small class="service-sub-title">More than 200 teams</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-cheers"></i>
                            </span>
                            <strong class="service-title">Unique Scenario</strong>
                            <small class="service-sub-title">we thinking out of the box</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-two-balloons"></i>
                            </span>
                            <strong class="service-title">perfect venues</strong>
                            <small class="service-sub-title">perfect venues</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-speech-bubble"></i>
                            </span>
                            <strong class="service-title">24/7 hours support</strong>
                            <small class="service-sub-title">anitime anywhere</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-clown-hat"></i>
                            </span>
                            <strong class="service-title">Unforgetable Times</strong>
                            <small class="service-sub-title">More than 200 teams</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-light-bulb"></i>
                            </span>
                            <strong class="service-title">Briliant Idea</strong>
                            <small class="service-sub-title">We thinking out of the box</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-event-date-and-time-symbol"></i>
                            </span>
                            <strong class="service-title">Unique Scenario</strong>
                            <small class="service-sub-title">perfact venues</small>
                        </a>
                    </li>

                    <li>
                        <a href="#!">
                            <span class="icon">
                                <i class="flaticon-group"></i>
                            </span>
                            <strong class="service-title">Best Management</strong>
                            <small class="service-sub-title">anytime anywhere</small>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </section>
    <!-- service-section - end
		================================================== -->



    <!-- special-offer-section - start
        		================================================== -->
    <section id="special-offer-section" class="special-offer-section clearfix"
        style="background-image: url(assets/images/special-offer-bg.png);">
        <div class="container">
            <div class="row">

                <!-- special-offer-content - start -->
                <div class="col-lg-9">
                    <div class="special-offer-content">
                        <h2>Looking for something <span>special for your moment?</span></h2>
                        <p class="m-0">
                            Contact us now and we will make your event unique & unforgettable
                        </p>
                    </div>
                </div>
                <!-- special-offer-content - end -->

                <!-- event-makeing-btn - start -->
                <div class="col-lg-3">
                    <div class="event-makeing-btn">
                        <a href="#!">join with us now</a>
                    </div>
                </div>
                <!-- event-makeing-btn - end -->

            </div>
        </div>
    </section>
    <!-- special-offer-section - end
        		================================================== -->






    <!-- testimonial5-section - start
		================================================== -->
    <section id="testimonial5-section" class="testimonial5-section sec-ptb-100 clearfix">
        <div class="container">

            <!-- section-title - start -->
            <div class="section-title text-center mb-80 sr-fade1">
                <small class="sub-title">testimonials</small>
                <h2 class="big-title">clients <strong>testimonial</strong></h2>
            </div>
            <!-- section-title - end -->

            <!-- testimonial5-carousel - start -->
            <div id="testimonial5-carousel" class="testimonial5-carousel sr-fade2 owl-carousel owl-theme">

                <div class="item text-center">
                    <span class="quote-icon">
                        <i class="fas fa-quote-right"></i>
                    </span>
                    <p class="clients-comment">
                        “Bring people together, or turn your passion into a business. Event Era gives you everything you
                        need
                        to host your best event yet. lorem ipsum diamet. Bring people together, or turn your passion
                        into a
                        business. Event Era gives you everything you need to host your best event yet.”
                    </p>
                    <div class="client-info">
                        <h3 class="client-name">Jenni Hernandes</h3>
                        <span class="client-sub-title">Graphic Designer</span>
                    </div>
                </div>

                <div class="item text-center">
                    <span class="quote-icon">
                        <i class="fas fa-quote-right"></i>
                    </span>
                    <p class="clients-comment">
                        “Bring people together, or turn your passion into a business. Event Era gives you everything you
                        need
                        to host your best event yet. lorem ipsum diamet. Bring people together, or turn your passion
                        into a
                        business. Event Era gives you everything you need to host your best event yet.”
                    </p>
                    <div class="client-info">
                        <h3 class="client-name">Jenni Hernandes</h3>
                        <span class="client-sub-title">Graphic Designer</span>
                    </div>
                </div>

                <div class="item text-center">
                    <span class="quote-icon">
                        <i class="fas fa-quote-right"></i>
                    </span>
                    <p class="clients-comment">
                        “Bring people together, or turn your passion into a business. Event Era gives you everything you
                        need
                        to host your best event yet. lorem ipsum diamet. Bring people together, or turn your passion
                        into a
                        business. Event Era gives you everything you need to host your best event yet.”
                    </p>
                    <div class="client-info">
                        <h3 class="client-name">Jenni Hernandes</h3>
                        <span class="client-sub-title">Graphic Designer</span>
                    </div>
                </div>

                <div class="item text-center">
                    <span class="quote-icon">
                        <i class="fas fa-quote-right"></i>
                    </span>
                    <p class="clients-comment">
                        “Bring people together, or turn your passion into a business. Event Era gives you everything you
                        need
                        to host your best event yet. lorem ipsum diamet. Bring people together, or turn your passion
                        into a
                        business. Event Era gives you everything you need to host your best event yet.”
                    </p>
                    <div class="client-info">
                        <h3 class="client-name">Jenni Hernandes</h3>
                        <span class="client-sub-title">Graphic Designer</span>
                    </div>
                </div>

            </div>
            <!-- testimonial5-carousel - end -->

        </div>
    </section>
    <!-- testimonial5-section - end
		================================================== -->




    <!-- footer-section2 - start
            		================================================== -->
    <footer id="footer-section" class="footer-section footer-section2 clearfix">

        <!-- footer-top - start -->
        <div class="footer-top sec-ptb-100 clearfix">
            <div class="container">
                <div class="row">

                    <!-- about-wrapper - start -->
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="about-wrapper">

                            <!-- site-logo-wrapper - start -->
                            <div class="site-logo-wrapper mb-30">
                                <a href="index-1.html" class="logo">
                                    <img src="assets/images/LOGO.png" alt="logo_not_found">
                                </a>
                            </div>
                            <!-- site-logo-wrapper - end -->

                            <!-- <p class="mb-30">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                euismod
                                tincidunt ut laoreet dolore magna.
                            </p> -->

                            <!-- basic-info - start -->
                            <div class="basic-info ul-li-block mb-50">
                                <ul>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        Surat, Gujrat, India
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <a href="#!">contact@example.com</a>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <a href="#!">100 800 1234 5555</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- basic-info - end -->

                            <!-- social-links - start -->
                            <div class="social-links ul-li">
                                <h3 class="social-title">network</h3>
                                <ul>
                                    <li>
                                        <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-twitch"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                                    </li>
                                    <li>
                                        <a href="#!"><i class="fab fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- social-links - end -->

                        </div>
                    </div>
                    <!-- about-wrapper - end -->


                    <!-- usefullinks-wrapper - start -->
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <div class="usefullinks-wrapper ul-li-block">
                            <h3 class="footer-item-title">
                                useful <strong>links</strong>
                            </h3>
                            <ul>
                                <li><a href="/about">About Event Era</a></li>
                                <li><a href="#!">Disclaimer</a></li>
                                <li><a href="/contact">Contact us</a></li>
                                <li><a href="/dashboard">Events Schedule</a></li>
                                
                                <!-- <li><a href="#!">Pricing Plans</a></li> -->
                            </ul>

                        </div>
                    </div>
                    <!-- usefullinks-wrapper - end -->


                </div>
            </div>
        </div>
        <!-- footer-top - end -->

    </footer>
    <!-- footer-section2 - end
            		================================================== -->


    <!-- fraimwork - jquery include -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- carousel jquery include -->
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- map jquery include -->
    <script src="assets/js/gmap3.min.js"></script>

    <!-- calendar jquery include -->
    <script src="assets/js/atc.min.js"></script>

    <!-- others jquery include -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- gallery img loaded - jqury include -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>

    <!-- multy count down - jqury include -->
    <script src="assets/js/jquery.countdown.js"></script>


    <!-- custom jquery include -->
    <script src="assets/js/custom.js"></script>

</body>

</html>